{% include '@EasyAdmin/page/content.html.twig' %}

<div id="todoitem">

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    {# asset{{()}} #}

    <link rel="stylesheet" href="{{asset('plugins/tabs/mapa.css')}}" />
    <script src="{{asset('plugins/tabs/mapa.js')}}"></script>

    <script type="text/javascript" src="{{asset('plugins/drag/dist/image-uploader.min.js')}}"></script>
    <script src="{{asset('plugins/drag/imagen.js')}}"></script>

    <link rel="stylesheet" href="{{asset('plugins/drag/dist/image-uploader.min.css')}}">
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,700|Montserrat:300,400,500,600,700|Source+Code+Pro&display=swap"
      rel="stylesheet">

    <!-- Font Awesome -->
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> #}

    <!-- RichText CSS -->
    <link rel="stylesheet" href="{{asset('plugins/RichText/src/richtext.min.css')}}">

    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- RichText JS -->
    <script type="text/javascript" src="{{asset('plugins/RichText/src/jquery.richtext.js')}}"></script>

    <!-- -->
    <script type="text/javascript" src="{{('plugins/RichText/richtext.js')}}"></script>


    <!-- sortable -->

    <link rel="stylesheet" href="{{asset('plugins/sortable/sortable.css')}}">
    <script src="{{asset('plugins/sortable/sortable.js')}}"></script>

    <!-- datepicker -->
    <script src="{{asset('plugins/datepicker/datepicker.js')}}"></script>

    <!-- timepicker -->
    <script src="{{asset('plugins/timepicker/timepicker.js')}}"></script>

    <!-- ruta -->
    <script type="text/javascript" src="{{asset('js/ruta.js')}}"></script>
    <!-- guia  -->

    <script type="text/javascript" src="{{asset('js/guia.js')}}"></script>

    <script type="text/javascript" src="{{asset('js/provincialocalidad.js')}}"></script>

    <!-- item -->
    <script type="text/javascript" src="{{asset('js/item.js')}}"></script>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

  </head>

  <body>
  
  <div id='calendariogeneral'></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script type="text/javascript" src="{{('js/calendario.js')}}"></script>

<div class="modal" id="modaldatos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información del Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
                <button id="pasarlista" type="button" class="btn btn-secondary" >Pasar lista</button> 
                <!-- Otros botones del pie del modal si es necesario -->
            </div>
        </div>
    </div>
</div>



  </body>
</div>


